.header {
  margin-top: .5rem;
  padding-left: 10px;
}

.header ul {
  width: 100%;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.header ul li:hover {
  background-color: #444;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}

.header button {
  margin-right: auto;
  color: crimson;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header button:active,
.header button:focus {
  color: #940c28;
  outline: none;
}

.header ul li:last-child {
  margin-left: auto;
}
